@tailwind base;
@tailwind components;
@tailwind utilities;

.slider img {
  animation: slide 12s infinite;
}

.slider img:nth-child(1) {
  animation-delay: 0s;
}
.slider img:nth-child(2) {
  animation-delay: 3s;
}
.slider img:nth-child(3) {
  animation-delay: 6s;
}
.slider img:nth-child(4) {
  animation-delay: 9s;
}

@keyframes slide {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}
