<div class="max-w-full h-96 relative overflow-hidden slider">
    <img class="absolute w-full h-full opacity-0" src="/assets/img/banners/banner.png" alt="Banner bikes">
    <img class="absolute w-full h-full opacity-0" src="/assets/img/banners/banner-oficina.png" alt="Banner bikes">
    <img class="absolute w-full h-full opacity-0" src="/assets/img/banners/banner-criancas.png" alt="Banner bikes">
    <img class="absolute w-full h-full opacity-0" src="/assets/img/banners/banner-feminina.png" alt="Banner bikes">
</div>