<div class="bg-orange-500 h-24 flex justify-center">
  <div class="max-w-screen-xl w-full flex flex-row justify-between items-center">
    <img class="h-32 w-auto object-cover" src="/assets/img/logo-removebg-preview.png" alt="Logo da Loja">
    <ul class="flex gap-5">
      <li class="px-6 text-lg uppercase hover:border-b-2 border-black"><a href="#">Home</a></li>
      <li class="px-6 text-lg uppercase hover:border-b-2 border-black"><a href="#">Produtos</a></li>
      <li class="px-6 text-lg uppercase hover:border-b-2 border-black"><a href="#">Quem Somos</a></li>
      <li class="px-6 text-lg uppercase hover:border-b-2 border-black"><a href="#">Contato</a></li>
    </ul>
    <a href="#">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="h-16 w-auto">
        <circle cx="12" cy="8" r="4" />
        <path d="M6 20c0-3.313 2.687-6 6-6s6 2.687 6 6" />
      </svg>
    </a>
  </div>
</div>