<section class="h-screen">
    <div class="flex justify-center gap-10 mt-20">
        <button class="text-lg text-orange-500 font-bold uppercase p-3">Aro 12</button>
        <button class="text-lg text-orange-500 font-bold uppercase p-3">Aro 16</button>
        <button class="text-lg text-orange-500 font-bold uppercase p-3">Aro 20</button>
        <button class="text-lg text-orange-500 font-bold uppercase p-3">Aro 24</button>
        <button class="text-lg text-orange-500 font-bold uppercase p-3">Aro 26</button>
        <button class="text-lg text-orange-500 font-bold uppercase p-3">Aro 29</button>
    </div>
</section>