<section class="h-screen">
    <div class="flex justify-center gap-16 mt-14">
        <button id="btn-12" class="btns text-xl text-orange-500 font-bold uppercase p-2 border-b-2 border-orange-500">Aro 12</button>
        <button id="btn-16" class="btns text-xl text-orange-500 font-bold uppercase p-2">Aro 16</button>
        <button id="btn-20" class="btns text-xl text-orange-500 font-bold uppercase p-2">Aro 20</button>
        <button id="btn-24" class="btns text-xl text-orange-500 font-bold uppercase p-2">Aro 24</button>
        <button id="btn-26" class="btns text-xl text-orange-500 font-bold uppercase p-2">Aro 26</button>
        <button id="btn-29" class="btns text-xl text-orange-500 font-bold uppercase p-2">Aro 29</button>
    </div>
</section>