<section class="my-5">
    <div class="h-full">
        <div class="relative">
            <h3 class="text-5xl text-white font-extrabold font-sans uppercase text-left absolute left-52 top-24 pixel">
                Nós somos a melhor equipe para cuidar da <span class="text-orange-500">sua bicicleta</span></h3>
            <div class="absolute left-52 top-80">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" class="my-4 mr-2">
                        <circle cx="12" cy="12" r="12" fill="#ff7a18" />
                        <path d="M7 12.5l3 3 7-7" fill="none" stroke="#000" stroke-width="2.2" stroke-linecap="round"
                            stroke-linejoin="round"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" class="my-4 mr-2">
                        <circle cx="12" cy="12" r="12" fill="#ff7a18" />
                        <path d="M7 12.5l3 3 7-7" fill="none" stroke="#000" stroke-width="2.2" stroke-linecap="round"
                            stroke-linejoin="round"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" class="my-4 mr-2">
                        <circle cx="12" cy="12" r="12" fill="#ff7a18" />
                        <path d="M7 12.5l3 3 7-7" fill="none" stroke="#000" stroke-width="2.2" stroke-linecap="round"
                            stroke-linejoin="round"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" class="my-4 mr-2">
                        <circle cx="12" cy="12" r="12" fill="#ff7a18" />
                        <path d="M7 12.5l3 3 7-7" fill="none" stroke="#000" stroke-width="2.2" stroke-linecap="round"
                            stroke-linejoin="round"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" class="my-4 mr-2">
                        <circle cx="12" cy="12" r="12" fill="#ff7a18" />
                        <path d="M7 12.5l3 3 7-7" fill="none" stroke="#000" stroke-width="2.2" stroke-linecap="round"
                            stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="absolute left-64 top-80">
                <p class="uppercase text-white text-lg font-semibold my-5 mr-2">Orçamento</p>
                <p class="uppercase text-white text-lg font-semibold my-5 mr-2">Revisão</p>
                <p class="uppercase text-white text-lg font-semibold my-5 mr-2">Limpeza</p>
                <p class="uppercase text-white text-lg font-semibold my-5 mr-2">Suporte</p>
                <p class="uppercase text-white text-lg font-semibold my-5 mr-2">Equipe Especializada</p>
            </div>
            <h4 class="absolute left-52 top-[620px] text-white font-extrabold font-sans text-xl uppercase border-b-2 border-white">Mais de 20 anos de experiência em bicicletas!</h4>
        </div>
        <img src="/assets/img/banners/about.png" alt="Fundo da loja">

    </div>
</section>