<%- include('includes/layout/head'); %>
<%- include('includes/components/navbar') %>

<section class="bg-gradient-to-b from-black to-orange-400 h-screen"></section>


<%- include('includes/components/footer-index'); %>
<%- include('includes/layout/footer'); %>