<!-- NAVBAR DO PAINEL DE controle -->
<aside class="w-70 bg-black text-white p-6 hidden md:block">
    <h2 class="text-2xl font-bold text-orange-500 mb-10">Painel de controle</h2>

    <nav class="space-y-4">
        <div class="flex items-center gap-3">
            <img class="dashboard-svg h-8 w-auto" alt="Dashboard">
            <a href="/admin/dashboard" class="block text-gray-300 hover:text-white hover:font-semibold">Dashboard</a>
        </div>
        
        <div class="flex items-center gap-3">
            <img class="create-svg h-8 w-auto" alt="Cadastrar bikes">
            <a href="/admin/cadastrar" class="block text-gray-300  hover:text-white hover:font-semibold">Adicionar Bicicletas</a>
        </div>
        
        <div class="flex items-center gap-3">
            <img class="visitar-svg h-8 w-auto" alt="Visitar site">
            <a href="/admin/logout" class="block text-gray-300 hover:text-white hover:font-semibold">Ver site</a>
        </div>
    </nav>
</aside>