<aside class="w-70 bg-black text-white p-6 hidden md:block">
    <h2 class="text-2xl font-bold text-orange-500 mb-10">Painel de controle</h2>

    <nav class="space-y-4">
        <a href="/admin" class="block text-gray-300 hover:text-white hover:font-semibold">Dashboard</a>
        <a href="/admin/cadastrar" class="block text-gray-300  hover:text-white hover:font-semibold">Cadastrar Bicicletas</a>
        <a href="/" class="block text-gray-300 hover:text-white hover:font-semibold">Ver site</a>
    </nav>
</aside>