<!-- NAVBAR DA HOME -->

<div class="bg-gradient-to-br from-orange-700 via-orange-500 to-orange-800 h-24 w-full flex justify-center ">
  <div class="max-w-screen-xl w-full flex flex-row justify-between items-center">
    <img class="logo h-32 w-auto object-cover" alt="Logo da Loja">
    <ul class="flex gap-5">
      <li class="px-6 text-lg uppercase hover:text-white hover:border-b-2 hover:border-white"><a href="/">Inicio</a></li>
      <li class="px-6 text-lg uppercase hover:text-white hover:border-b-2 hover:border-white"><a href="/produtos">Produtos</a></li>
      <li class="px-6 text-lg uppercase hover:text-white hover:border-b-2 hover:border-white"><a href="/sobre-nos">Sobre Nós</a></li>
      <li class="px-6 text-lg uppercase hover:text-white hover:border-b-2 hover:border-white"><a href="/contato">Contato</a></li>
    </ul>
    <a href="/login" class=" hover:text-white hover:border-b-2 hover:border-white">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="h-12 w-auto">
        <circle cx="12" cy="8" r="4" />
        <path d="M6 20c0-3.313 2.687-6 6-6s6 2.687 6 6" />
      </svg>
    </a>
  </div>
</div>